<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <paths>
  	<using namespace="System.Util.*"/>
  	<using namespace="System.Web.UI.ActiveControls.*"/>
  	<alias id="Ticket703" path="."/>
  </paths>
  <modules>
	<module id="Log" class="TLogRouter">
		<route class="TFileLogRoute" MaxLogFiles="1" MaxFileSize="1" Levels="Debug" Categories="Tickets" LogPath="Ticket703.Logs" LogFile="LogFile.txt"/>
	</module>
  </modules>	

</configuration>