/.idea
atlassian-ide-plugin.xml
/.cache
/.project
/.settings
/assets
/build
buildscripts/chmbuilder/assets/*
buildscripts/chmbuilder/classes/Data/classes.data
buildscripts/chmbuilder/classes/runtime/*
buildscripts/classtree/Configuration
buildscripts/classtree/PRADO.mxi
buildscripts/texbuilder/quickstart/*.aux
buildscripts/texbuilder/quickstart/*.png
buildscripts/texbuilder/quickstart/*.tex
buildscripts/texbuilder/quickstart/quickstart.log
buildscripts/texbuilder/quickstart/quickstart.out
buildscripts/texbuilder/quickstart/quickstart.toc
demos/address-book/assets/*
demos/address-book/protected/runtime/*
demos/blog-tutorial/assets/*
demos/blog-tutorial/protected/runtime/*
demos/blog-tutorial/samples/day1/blog/assets/*
demos/blog-tutorial/samples/day1/blog/protected/runtime/*
demos/blog-tutorial/samples/day2/blog/assets/*
demos/blog-tutorial/samples/day2/blog/protected/runtime/*
demos/blog-tutorial/samples/day3/blog/assets/*
demos/blog-tutorial/samples/day3/blog/protected/runtime/*
demos/blog-tutorial/samples/day4/blog/assets/*
demos/blog-tutorial/samples/day4/blog/protected/runtime/*
demos/blog-tutorial/samples/day5/blog/assets/*
demos/blog-tutorial/samples/day5/blog/protected/runtime/*
demos/blog/assets/*
demos/blog/protected/runtime/*
demos/chat/assets/*
demos/chat/protected/runtime/*
demos/composer/assets/*
demos/composer/protected/runtime/*
demos/currency-converter/assets/*
demos/currency-converter/protected/runtime/*
demos/helloworld/assets/*
demos/helloworld/protected/runtime/*
demos/northwind-db/assets/*
demos/northwind-db/protected/runtime/*
demos/personal/assets/*
demos/personal/protected/runtime/*
demos/quickstart/.cache
demos/quickstart/.project
demos/quickstart/.settings
demos/quickstart/assets/*
demos/quickstart/index_pl.php
demos/quickstart/protected/runtime/*
demos/soap/assets/*
demos/soap/protected/runtime/*
demos/sqlmap/assets/*
demos/sqlmap/protected/runtime/*
demos/time-tracker/assets/*
demos/time-tracker/protected/runtime/*
tests/FunctionalTests/active-controls/assets/*
tests/FunctionalTests/active-controls/protected/runtime/*
tests/FunctionalTests/features/assets/*
tests/FunctionalTests/features/protected/runtime/*
tests/FunctionalTests/results.dat
tests/FunctionalTests/tickets/assets/*
tests/FunctionalTests/tickets/protected/runtime/*
tests/FunctionalTests/tickets/protected700/runtime/*
tests/FunctionalTests/validators/assets/*
tests/FunctionalTests/validators/protected/runtime/*
tests/simple_unit/runtime/*
tests/unit/Caching/mockapp/runtime/*
tests/unit/Data/db/test.db
tests/unit/Security/app/runtime/*
tests/unit/Web/app/runtime/*
