parameters:
    phpVersion: 70400 # PHP 7.4
    level: 2
    paths:
        - framework
services:
    -
        class: Prado\PHPStan\DynamicMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension