parameters:
    phpVersion: 80100 # PHP 8.1
    level: 2
    paths:
        - framework
services:
    -
        class: Prado\PHPStan\DynamicMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension