parameters:
    phpVersion: 80200 # PHP 8.2
    level: 2
    paths:
        - framework
services:
    -
        class: Prado\PHPStan\DynamicMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension