<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/test_tools/phpunit_bootstrap.php" colors="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./tests/unit</directory>
    </testsuite>
    <testsuite name="functional">
      <directory suffix="TestCase.php">./tests/FunctionalTests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="./build/tests/index.html"/>
  </logging>
  <extensions>
    <bootstrap class="Prado\Tests\PradoTestListener"/>
  </extensions>
  <php>
    <!-- selenium test cases can take up to 20 mins -->
    <ini name="max_execution_time" value="1200"/>
    <ini name="memory_limit" value="1G"/>
    <const name="PRADO_TEST_RUN" value="true"/>
  </php>
</phpunit>
