<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/test_tools/phpunit_bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">framework/</directory>
    </include>
    <report>
      <clover outputFile="./build/tests/coverage.xml"/>
      <html outputDirectory="./build/tests/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./tests/unit</directory>
    </testsuite>
    <testsuite name="functional">
      <directory suffix="TestCase.php">./tests/FunctionalTests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="./build/tests/index.html"/>
  </logging>
  <php>
    <!-- selenium test cases can take up to 20 mins -->
    <ini name="max_execution_time" value="1200"/>
  </php>
</phpunit>
