<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<authorization>
		<allow pages="Home2" users="*" />
		<deny pages="users.Home" roles="user" />
	</authorization>
	<pages Param2="Set at admin">
		<page id="users.Home" Param1="Set at admin" Param4="Set at admin" />
		<page id="Home" Param3="Set at admin" />
	</pages>
</configuration>