.TRatingList_blocks
{
	border-collapse: collapse;
}
.TRatingList_blocks input, .TRatingList_blocks label
{
	display: none;
}

.TRatingList_blocks td
{
	width: 18px;
	height: 9px;
	padding: 1px;
}

.TRatingList_blocks td.rating
{
	background-image: url(blocks_combined.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: 1px 0px;
}
.TRatingList_blocks td.rating_selected
{
	background-position: 1px -100px;
}

.TRatingList_blocks td.rating_disabled
{
	cursor: default !important;
}