.TRatingList_default
{
	border-collapse: collapse;
}
.TRatingList_default input, .TRatingList_default label
{
	display: none;
}

.TRatingList_default td
{
	width: 18px;
	height: 18px;
	padding: 0;
}

.TRatingList_default td.rating
{
	background-image: url(default_combined.png);
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: 0px 0px;
}
.TRatingList_default td.rating_selected
{
	background-position: 0px -100px;
}

.TRatingList_default td.rating_hover
{
	background-position: 0px -200px;
}
.TRatingList_default td.rating_half
{
	background-position: 0px -300px;
}

.TRatingList_default td.rating_disabled
{
	cursor: default !important;
}