body {
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:10pt;
	color:black;
	margin:0px 0px 0px 0px;
	padding:0px;
}

#header {
	font-size:13pt;
	font-weight:bold;
	background:#fff;
	height:40px;
	padding:5px;
}

#menu {
	padding:3px;
	padding-right:10px;
	background:#00487D;
	color:white;
	text-align:right;
}

#menu a {
	color:#BFE4FF;
	text-decoration:none;
}

#menu a:hover {
	color:white;
}

#toc {
	background:#BFE4FF;
	float:right;
	width:200px;
	padding:5px;
}

#content {
	float:left;
	background:#fff;
	padding:5px;
}

#footer {
	clear:both;
	color: gray;
	font-size:8pt;
	text-align:center;
	margin-top:25px;
	padding:5px;
}

.topic {
	font-size: 10pt;
	padding: 0px 0px 10px 0px;
}

.topic span {
	font-size: 11pt;
	font-weight:bold;
	color:#00487D;
}

.topic a {
	color:#00487D;
	padding-left:10px;
}

.topic a:hover {
	color:red;
}

.code {
	padding:10px;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc;
	background-color:#ffffee;
}

.runbar a:link, .runbar a:visited {
	background-color:#BFE4FF;
	font-size: 12px;
	font-weight: bold;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	text-decoration: none;
}

.runbar a:link.active, .runbar a:visited.active, .runbar a:hover {
	background-color:#BFE4FF;
	font-size: 12px;
	font-weight: bold;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

#sourceList {
	background-color:#BFE4FF;
	margin:10px;
	border:1px solid silver;
	padding:10px;
}

#sourceView {
	background-color:#ffffee;
	margin:10px;
	border:1px solid silver;
	padding:10px;
}