html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

#header {
    font-size:25px;
    font-weight:bold;
    color: #666;
}

.logo{
    width: 204px;
    height:100px;
    background-image: url('imgs/pradologo.gif');
    background-repeat: no-repeat;
    float: left;
}

.mantisbg{
    width: 221px;
    height: 100px;
    background-image: url('imgs/mantisbg.jpg');
    background-repeat: no-repeat;
    float: right;
}

.mainmenu {
    padding:10px;
    padding-right:10px;
    background:#EDEDED;
    border-bottom: 1px solid #A6A6A6;
    border-top: 1px solid #DCDCDC;
    color:white;
    text-align:right;
    font-size: 10pt;
}

.mainmenu a {
    color:#737373;
    text-decoration:none;
}

.mainmenu a:hover {
    color: #FF0000;
}

#toc {
    background-color: #F3F3F3;
    width:220px;
    padding:0px 10px 0px 10px;
    float: left;
}

#content {
    padding: 1em 1em 1em 1em;
    line-height: 135%;
    float: left;
    width: 700px;
}

.topic {
    font-size: 9pt;
    padding: 0px 0px 0px 0px;
}

.topic div {
    background-image: url('imgs/arrowdown.gif');
    background-repeat: no-repeat;
    background-position: left center;
    margin: 0px;
    font-size: 8pt;
    font-weight:bold;
    color:#2A480A;
    padding: 5px;
    padding-left: 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #E2E2E2;
}

.topic ul
{
    margin: 0px;
    padding: 0px;
}

.topic ul li
{
    list-style: none;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
    border-bottom: 1px dotted #D8D8D8;
}

.topic a {
    color:#4F811A;
    font-size: 8pt;
    text-decoration: none;
}

.topic a:hover {
    color:#2A480A;
}

/* form styles */
.form_row{
    margin: 10px;
}

.in_text{
    width: 250px; 
}

.login_form{
    text-align: center;
    margin: 30px auto;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    font-size: 11px;
}

.green_panel{
    background-color: #C5FBBD;
    border: 1px solid #76C376;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.red_panel{
    background-color: #ff6666;
    border: 1px solid red;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

#footer {
    clear:both;
    color: gray;
    font-size:8pt;
    text-align:center;
    margin-top:25px;
    padding:10px;
}

.section_title {
    margin: 10px; 
    font-size: 16px; 
    font-weight: bold
}