#macro (writeFunctionJSParams $paramSet)
#foreach($param in $paramSet.params)#if($velocityCount > 1), #end#if($param.hasModifier('optional'))[#end#if($param.typeLink)$param.typeLink.originalString.trim() #end$param.name#if($param.hasModifier('optional'))]#end#end
#end

#macro(writeFuncJSSummary $func)
#set ($funcModifiers = $func.comment.modifiers)
#if ($func.comment.inheritdesc.size() == 0)
#set ($funcItself = $func)
#else
#set ($funcItself = $jg.get($func.comment.inheritdesc.get(0).name))
#end
#if($funcModifiers.length() > 0)$funcModifiers #end$func.commentType #if ($funcItself.comment.paramSets.size() != 0)#foreach($paramSet in $funcItself.comment.paramSets)#if ($velocityCount > 1)\n#end#if($funcItself.comment.typeLink)$funcItself.comment.typeLink.originalString #end${func.localName}(#writeFunctionJSParams($paramSet))#end
#else
#if($funcItself.comment.typeLink)$funcItself.comment.typeLink.originalString #end${funcItself.localName}()#end    
#end


#macro(writeVarJSSummary $var)
#set ($varModifiers = $var.comment.modifiers)
#if ($var.comment.inheritdesc.size() == 0)
#set ($varItself = $var)
#else
#set ($varItself = $jg.get($var.comment.inheritdesc.get(0).name))
#end
#if($varModifiers.length() > 0)$varModifiers #end$var.commentType #if($varItself.comment.typeLink)$varItself.comment.typeLink.originalString #end${varItself.localName}#end

#macro(writeContainerJSSummary $cont)
#if($cont.comment.modifiers.length() > 0)$cont.comment.modifiers #end$cont.commentType $cont.localName#end
#macro(writeJSSummary $obj)
#if ($obj.commentType == "variable" || $obj.commentType == "property")#writeVarJSSummary($obj)
#elseif($obj.commentType == "class" || $obj.commentType == "namespace" || $obj.commentType == "struct" || $obj.commentType == "interface" || $obj.commentType == "object")#writeContainerJSSummary($obj)
#elseif($obj.commentType == "function" || $obj.commentType == "constructor" || $obj.commentType == "ifunction" || $obj.commentType == "event")#writeFuncJSSummary($obj)#end
#end

#macro(writeJS $item)
       
       {
           localName : "$item.localName",
           fullName : "$item.fullName",
           summary : "#writeJSSummary($item)",
           ref : "#writeLink($item.fullName)",
           parent : "#if($item.parentName)$item.parentName#end",
           type : "$item.commentType",
           elementType : "$item.elementType"
       }#end



/*Generated by jGrouseDoc*/
(function()
{
    var data = [#foreach($item in $jg.all())#if($item.commentType != 'file' && $item.commentType != 'module')#if($velocityCount > 1), #end #writeJS($item) #end#end
    ];
    jgdoc.setData(data);
    
})()
    
