<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <paths>
	<using namespace="System.I18N.*" />
  </paths>
  <modules>
    <module id="globalization" class="TGlobalization">
      <translation type="XLIFF" source="Application.pages.I18N.messages" autosave="true" cache="true" />
	</module>
  </modules>
</configuration>