<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset="utf-8"/>
<meta http-equiv="content-language" content="zh"/>
<title>无法找到页面</title>
<style>
body {font-family:"Verdana";font-weight:normal;color:black;}
h1 { font-family:"Verdana";font-weight:normal;font-size:18pt;color:red }
h2 { font-family:"Verdana";font-weight:normal;font-size:14pt;color:maroon }
h3 {font-family:"Verdana";font-weight:bold;font-size:11pt}
p {font-family:"Verdana";font-weight:normal;color:black;font-size:9pt;margin-top: -5px}
.version {color: gray;font-size:8pt;border-top:1px solid #aaaaaa;}
</style>
</head>

<body bgcolor="white">
<h1>%%ErrorMessage%%</h1>
<h2>错误代码404</h2>
<p>
服务器无法找到您所请求的页面。
如果您是手工输入页面地址的，请检查拼写是否正确。
</p>
<p>
如果您确认这是服务器错误，请联系<a href="mailto:%%ServerAdmin%%">系统管理员</a>。
</p>
<div class="version">
%%Version%%<br/>
%%Time%%
</div>
</body>
</html>