<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset="utf-8"/>
<meta http-equiv="content-language" content="zh"/>
<title>%%ErrorMessage%%</title>
<style>
body {font-family:"Verdana";font-weight:normal;color:black;}
h1 { font-family:"Verdana";font-weight:normal;font-size:18pt;color:red }
h2 { font-family:"Verdana";font-weight:normal;font-size:14pt;color:maroon }
h3 {font-family:"Verdana";font-weight:bold;font-size:11pt}
p {font-family:"Verdana";font-weight:normal;color:black;font-size:9pt;margin-top: -5px}
.version {color: gray;font-size:8pt;border-top:1px solid #aaaaaa;}
</style>
</head>

<body bgcolor="white">
<h1>错误%%StatusCode%%</h1>
<h2>%%ErrorMessage%%</h2>
<p>
服务器在处理您的页面请求时出现了以上错误。
</p>
<p>
如果您认为这是服务器的原因，请联系通知<a href="mailto:%%ServerAdmin%%">系统管理员</a>。
</p>
<div class="version">
%%Time%% %%Version%%
</div>
</body>
</html>