<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset="utf-8"/>
<meta http-equiv="content-language" content="fr"/>
<title>Erreur Interne du Serveur</title>
<style>
body {font-family:"Verdana";font-weight:normal;color:black;}
h1 { font-family:"Verdana";font-weight:normal;font-size:18pt;color:red }
h2 { font-family:"Verdana";font-weight:normal;font-size:14pt;color:maroon }
h3 {font-family:"Verdana";font-weight:bold;font-size:11pt}
p {font-family:"Verdana";font-weight:normal;color:black;font-size:9pt;margin-top: -5px}
.version {color: gray;font-size:8pt;border-top:1px solid #aaaaaa;}
</style>
</head>

<body bgcolor="white">
<h1>Erreur Interne du Serveur</h1>
<h2>%%ErrorMessage%%</h2>
<p>
Une erreur interne s'est produite pendant que le serveur web traitait votre requête. 
Veuillez contacter l'<a href="mailto:%%ServerAdmin%%">administrateur</a> pour lui signaler le problème. 
</p>
<p>
Merci de votre compréhension.
</p>
<div class="version">
%%Version%%<br/>
%%Time%%
</div>
</body>
</html>